.success-header {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
  padding: 11px 0 12px 0;
}
.para-text {
  color: #8f8f8f;
  text-align: center;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 125% */
}

.x-close {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.success-icon {
  display: flex;
  justify-content: center;
}

.mot-upload-image {
  height: 70px;
}

.enter-text {
  font-size: 18px;
  font-weight: 700;
}
.center-input {
  text-align: center;
}

.mot-form-hint {
  font-size: 0.7rem;
  font-style: italic;
  color: #134a7c;
  opacity: 0.7;
  padding-top: 8px;
  margin: 0;
}

.mot-apply-form {
  padding-top: 5px;
  padding-left: 20px;
}

.mot-apply-form div input,
.mot-apply-form div select {
  border: none;
  border-bottom: 1px solid #656565;
  width: 100%;
  margin-top: 10px;
  outline: 0;
  padding: 10px 1px 4px;
}

.mot-apply-form-submit {
  color: #ffffff;
  background-color: #13497c;
  outline: none;
  border: none;
  padding: 10px 40px;
  border-radius: 8px;
  margin-top: 20px;
  border: 2px solid #13497c;
}

.mot-apply-form-submit:hover {
  color: #13497c;
  background-color: #ffffff;
  box-shadow: none;
  transition: 0.2s ease-in;
}
.cursor {
  cursor: pointer;
}

.skill-input {
  width: initial !important;
  background: #fff2df !important;
  font-size: 18;
  margin-top: 0;
  border: none !important;
  padding: 0;
}

.bod-rad input {
  text-align: center;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin: 0 16px !important;
}
.text-price {
  font-size: 16px;
  padding: 8px;
  font-weight: 800;
}
.not-text:hover {
  opacity: 0.8;
}
.price-input {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #d7d7d7;
  outline: none;
  border: none;
  cursor: pointer;
}
.disabled-btn {
  background-color: #fff !important;
  color: #134a7c !important;
  cursor: not-allowed;
}
.disabled-btn:hover {
  color: #134a7c !important;
  background-color: #fff !important;
}
.price-border {
  border: 2px solid #134a7c !important;
}

.edit-profile {
  color: #134a7c;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #fff;
  font-size: 0.8rem;
}

.edit-profile:hover {
  background: none;
  cursor: pointer;
  color: #fff;
  transition: 0.5s ease-in;
}

a {
  text-decoration: none !important;
}

.container-modal {
  /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.modal-cont {
  /* max-width: 320px; */

  max-width: 100vw;
  width: 100%;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  /* max-width: 100% !important; */
  /* height: auto; */
}
.input-title {
  /* color: #bbb !important; */
  font-family: "DM Sans";
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 142.4%; /* 22.784px */
}

.mot-form-hint {
  color: #134a7c;
  font-family: "DM Sans";
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400;
  line-height: 142.4%;
}

.selected-skills-container { 
  display: flex;
}


@media screen and (max-width: 760px) {
  .input-title::placeholder {
    color: #000; /* Set the placeholder text color to black */
  }

  .input-title:focus::placeholder {
    color: transparent; /* Set the placeholder text color to transparent when focused */
  }
}

@media screen and (min-width: 760px) {
  .modal-cont {
    /* display: flex;
        justify-content: center; */
    /* margin-left: 50%; */
    width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .mot-apply-form {
    padding: 40px;
    margin: 0;
    overflow-x: hidden;
  }
  .mot-profile-card2 {
    margin: 0 18px !important;
  }
}

@media screen and (max-width: 1000px) {
  .mot-apply-top {
    padding: 0;
  }

  .mot-apply-form {
    padding: 0;
    margin: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .mot-apply-instruction {
    width: 100% !important;
  }
}

@media screen and (min-width: 1200px) {
  .modal-cont {
    /* display: flex;
        justify-content: center; */
    /* margin-left: 50%; */
    width: 60%;
    /* width: 100%;
        margin-left: 30%; */
  }
  .enter-text {
    font-size: 24px;
    font-weight: 700;
  }
}

