.mot-section-container {
  margin: 200px 0;
  background: white;
}
.arrow-image {
  transform: rotate(270deg);
}
.each-item {
  /* width: 446px; */
  height: auto;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 20px;

  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 70px 0px rgba(191, 191, 191, 0.14);
}

.each-item:hover {
  background: #faf5ed;
  transition: 1s ease-in-out;
}
.topic-text {
  color: #000;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.4%; /* 51.264px */
  padding: 24px 0;
}
.arrow-and-text {
  display: flex;
  /* justify-content: start; */
  align-items: start;
  gap: 10px;
  padding: 0 10px;
}

.mot-gender-cont {
  padding-left: 10px;
}

@media screen and (min-width: 760px) {
  .mot-gender-cont {
    padding-left: 0;
  }
  .mot-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .each-item {
    width: 350px;
    height: auto;
    flex-shrink: 0;
    margin-top: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .mot-section-container {
    gap: 27px;
  }
  .each-item {
    width: auto;
    height: 600px;
    flex-shrink: 0;
  }
  .arrow-and-text {
    display: flex;
    align-items: center;
    gap: 21px;
  }
  .text-item {
    width: 350px;
  }
}

/* .mot-users-container {
  padding: 150px 0 150px;
}

.mot-placeholder-rd2 {
  padding-left: 20px;
  height: 40px;
}

.mot-user-guide {
  padding-top: 80px;
  width: 300px;
  height: auto;
  flex-shrink: 0;
}

.mot-user-guide,
.mot-user-guide2 {
  padding: 50px 40px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 0 4px 30px #bfbfbf30;
}

.mot-user-guide2 {
  padding-bottom: 50px;
  width: 300px;
  height: auto;
  flex-shrink: 0;
}

.arrow-and-sometexts {
  display: flex;
  align-items: center;
}

.user-text {
  font-weight: 400;
  color: #000;
  font-size: 1rem;
  line-height: 1.5rem;
}

.mot-user-guide:hover,
.mot-user-guide2:hover {
  background-color: #faf5ed;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.ml {
  padding-left: 40px;
}

.mot-placeholder-card,
.mot-placeholder-card2 {
  height: 60px !important;
}

.mot-placeholder-card2 {
  margin-left: 20px;
}

.small-text {
  display: block;
}

@media screen and (max-width: 700px) {
  .small-text {
    display: none;
  }
  .mot-placeholder-card,
  .mot-placeholder-card2 {
    display: none;
  }
  .mot-user-guide2,
  .mot-user-guide {
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 16px #dddddd;
  }
  .ml {
    padding-left: 20px;
  }
  .placeholder {
    height: 40px;
  }
  .push-top {
    padding-top: 70px;
  }
  .mot-users-container {
    padding: 75px 0 75px !important;
  }
  .medium-texts {
    font-size: 36px;
  }
  .user-text {
    padding: 10px 0;
  }
}

@media screen and (min-width: 700px) {
  .mot-user-guide {
    padding-top: 30px;
    width: 400px;
    height: auto;
    flex-shrink: 0;
  }

  .mot-user-guide2 {
    padding-top: 30px;
    width: 400px;
    height: auto;
    flex-shrink: 0;
  }
  .arrow-and-sometexts {
    display: flex;
    align-items: center;
  }
  .mot-user-placeholders {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .mot-user-guide {
    width: 440px;
    height: 564px;
  }

  .mot-user-guide2 {
    width: 440px;
    height: 564px;
  }
  .arrow-and-sometexts {
    display: flex;
    align-items: center;
  }
  .both-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px !important;
  }
} */
