.mot-section-container {
  margin: 20px 0;
  background: white;
  margin-bottom: 100px;
}
.arrow-image {
  transform: rotate(270deg);
}
.each-item {
  /* width: 446px; */
  height: auto;
  flex-shrink: 0;
  border-radius: 20px;
  padding-left: 10px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 70px 0px rgba(191, 191, 191, 0.14);
}

.each-item:hover {
  background: #faf5ed;
  transition: 1s ease-in-out;
}
.topic-text {
  color: #000;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.4%; /* 51.264px */
  padding: 24px 0;
}
.arrow-and-text {
  display: flex;
  /* justify-content: start; */
  align-items: start;
  gap: 10px;
  padding: 0 10px;
}

.cont-one {
  padding: 0 0 0 10px;
}

.cont-two {
  padding: 0 0 0 10px;
  margin-top: 40px;
}

.mot-gender-cont {
  padding-left: 10px;
}

@media screen and (max-width: 425px) { 
.mot-gender-cont { }
.topic-text {
  text-align: center;
}
.mot-gender-cont {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  justify-content: center !important;
}
}


@media screen and (min-width: 760px) {
  .mot-gender-cont {
    padding-left: 0;
    margin-top: 150px;
    /* padding-top: 0; */
  }
  .mot-section-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
  }
  .each-item {
    width: 350px;
    height: 680px;
    flex-shrink: 0;
    margin-top: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .mot-section-container {
    gap: 27px;
  }
  .each-item {
    width: auto;
    height: 600px;
    flex-shrink: 0;
  }
  .arrow-and-text {
    display: flex;
    align-items: center;
    gap: 21px;
  }
  .text-item {
    width: 350px;
  }
}
