.mot-challenge-con {
  background-color: rgba(19, 74, 124, 0.12);
  padding: 100px 0 100px;
}
.mot-challenge button {
  color: #13497c;
  /* background-color: #13497c; */
  outline: none;
  border: none;
  padding: 10px 40px;
  border-radius: 8px;
  margin-top: 20px;
  border: 2px solid #13497c;
}
.share-and-build {
  margin-top: 20px;
}
.explore-btn {
  font-size: 16px;
  background: transparent;
}
.explore-btn:hover {
  background: #0c3053 !important;
}
.mot-challenge button:hover {
  color: #ffffff;
  /* background-color: rgba(19, 74, 124, 0.12); */
  background: #13497c;
  box-shadow: none;
  transition: 0.2s ease-in;
}
.mot-access-section-header {
  color: #134a7c;
  font-family: "DM Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 112.042%; /* 53.78px */
}
.challenge-new {
  color: #e52424;
  font-family: Rubik;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 169.231% */
  border-radius: 16px;
  background: #f9cccc;
}

.mot-challenge {
  display: flex;
  width: 200px;
  /* height: 43px; */
  justify-content: start;
  /* align-items: center; */
}

.mot-challenge-con svg {
  /* width: 100%; */
}

.display-img {
  width: 300px;
  margin-top: 20px;
}

.challenge-new {
  background: #f9cccc;
  border-radius: 16px;
  padding: 8px 16px;
  color: #e62424;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  width: fit-content;
}
.element {
  animation: drop 8s ease forwards;
  animation-iteration-count: infinite;
  z-index: 111;
}

.element:nth-child(2),
.element:nth-child(4),
.element:nth-child(9) {
  animation: drop 10s ease forwards !important;
  animation-delay: 2s;
}

.element:nth-child(3),
.element:nth-child(5),
.element:nth-child(7) {
  animation: drop 12s ease forwards !important;
}

@keyframes drop {
  0% {
    opacity: 1;
    transform: translateY(-10px);
  }
  70% {
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

@media screen and (min-width: 700px) {
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .content-container {
    display: flex;
    justify-content: center;
    margin: 0 320px;
  }
  .mot-access-section-header {
    width: 500px;
  }
  .mot-access-section-caption {
    width: 400px;
    height: 54px;
    flex-shrink: 0;
  }
  .explore-btn {
    color: #134a7c;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 112.5% */
  }
  .display-img {
    width: 447.556px;
    height: 306px;
    flex-shrink: 0;
  }
  .both-topics {
    margin-top: 55px;
  }
  .user-text {
    width: 317px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1200px) {
  .display-img {
    /* width: 447.556px;
    height: 288.806px;
    flex-shrink: 0; */
  }
}
