.navigations {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.main-content {
  margin: 20px 0;
}
/* .navigations > * + * {
  margin-top: 0;
} */
.recommended {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* border: 1px solid black; */
  background: #ecf1f5;
  width: 180px;
  margin: 20px;
  padding: 8px 0;
}
.view-and-arrow {
  touch-action: manipulation !important;
  cursor: pointer;
  user-select: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-more-btn {
  background-color: transparent;
  color: black;
  outline: none;
  user-select: none;
}
.view-more-btn:focus {
  outline: none;
  appearance: none !important;
}

.icon {
  width: 24px;
  height: auto;
  margin-right: 8px;
}
.recommended p {
  margin: 0;
  color: #134a7c;
  /* font-size: 24px; */
  font-weight: 700;
}
.premium {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  width: 180px;
  margin: 20px;
  padding: 8px 0;
  font-weight: 700;
}
.premium p {
  margin: 0;
  color: #bdbdbd;
  /* font-size: 24px; */
  font-weight: 700;
}
.search {
  display: flex;
  align-items: center;
  justify-content: start;
  /* gap: 20px; */
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  width: 180px;
  /* margin: 20px; */
  padding: 8px;
}
.search p {
  margin: 0;
  color: #bdbdbd;
  /* font-size: 24px; */
  font-weight: 700;
}

.card-grid {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
/* .info-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7.977px;
  background: #f9f9f9;
  box-shadow: 1px 1px 2px 0px #d2dbe4;
  margin: 20px;
  padding: 20px 0;
} */

@media screen and (min-width: 760px) {
  .main-content {
    margin: 30px 0;
  }
  .navigations {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .recommended {
    width: 270px;
    height: 49px;
    margin: 20px;
    padding: 8px 0;
  }

  .icon {
    width: 24px;
    height: auto;
    margin-right: 8px;
  }
  .recommended p {
    font-size: 20px;
  }
  .premium {
    width: 270px;
    height: 49px;
  }
  .premium p {
    font-size: 20px;
  }
  .search {
    width: 270px;
    height: 49px;
    flex-shrink: 0;
    padding: 8px;
  }
  .search p {
    font-size: 20px;
  }

  .card-grid {
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    /* justify-content: space-between; */
  }
  .info-cont {
    flex: 0 1 calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) {

  .main-content {
    margin: 40px 0;
  }
  .recommended {
    width: 300px;
    height: 49px;
    margin: 20px;
    padding: 8px 0;
  }

  .icon {
    width: 24px;
    height: auto;
    margin-right: 8px;
  }
  .recommended p {
    font-size: 24px;
  }
  .premium {
    width: 300px;
    height: 49px;
  }
  .premium p {
    font-size: 20px;
  }
  .search {
    width: 300px;
    height: 49px;
    flex-shrink: 0;
    padding: 8px;
  }
  .search p {
    font-size: 20px;
  }
  .card-grid {
    display: flex;
    flex-direction: row;
    width: 95%;
    /* margin: auto; */
    flex-wrap: wrap;
    margin: 30px;
    /* justify-content: space-between; */
  }
  .info-cont {
    flex: 0 1 calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
  }
}
