.navigations {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 20px;
}
.main-content {
  margin: 50px 0;
}
/* .navigations > * + * {
  margin-top: 0;
} */
.recommended {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* border: 1px solid black; */
  background: #ecf1f5;
  width: 80%;
  gap: 10px;
  /* margin: 20px; */
  padding: 8px 0;
}

.view-btn {
  /* padding: 10px 0 0 0; */
  cursor: pointer;
}

.view-and-arrow {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.view-more-btn {
  display: flex;
  color: black;
  font-weight: 700;
}
.double-arrow {
  transform: rotate(90deg);
  font-weight: 700;
  transition: transform 0.3s ease;
}
.rotated {
  transform: rotate(270deg);
}
/* .view-more-btn:focus {
  outline: none;
  appearance: none !important;
} */

.icon {
  width: 24px;
  height: auto;
  margin-right: 8px;
}
.recommended p {
  margin: 0;
  color: #134a7c;
  /* font-size: 24px; */
  font-weight: 700;
}
.premium {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  width: 80%;
  gap: 10px;
  /* margin: 20px; */
  padding: 8px 0;
  font-weight: 700;
}
.premium p {
  margin: 0;
  color: #bdbdbd;
  /* font-size: 24px; */
  font-weight: 700;
}
.search-bar {
  border: none;
  outline: none;
  color: #bdbdbd;
  font-weight: 700;
}
.search {
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  outline: none;
  width: 80%;
  /* margin: 20px; */
  padding: 8px;
}
.search p {
  margin: 0;
  /* color: #bdbdbd; */
  /* font-size: 24px; */
  /* font-weight: 700; */
}

.card-grid {
  display: flex;
  flex-direction: column;
  width: 240.164px;
  height: auto;
  margin: auto;
}

@media screen and (min-width: 760px) {
  .main-content {
    margin: 30px 0;
  }
  .navigations {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .recommended {
    width: 270px;
    height: 49px;
    margin: 20px;
    padding: 8px 0;
  }

  .icon {
    width: 24px;
    height: auto;
    margin-right: 8px;
  }
  .recommended p {
    font-size: 14px;
  }
  .premium {
    width: 270px;
    height: 49px;
  }
  .premium p {
    font-size: 14px;
  }
  .search {
    width: 250px;
    height: 49px;
    flex-shrink: 0;
    padding: 8px;
  }
  .search p {
    font-size: 14px;
  }

  .info-cont {
    flex: 0 1 calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    padding: 20px 0;
  }
  .view-and-arrow {
    margin: 20px 0 100px 0;
  }
}

@media screen and (min-width: 760px) {
  .navigations {
    width: 80%;
    margin: auto;
  }
  .recommended {
    padding: 20px;
  }
  .premium {
    padding: 20px;
  }
  .card-grid {
    margin-top: 80px;
    gap: 52px;
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .info-cont {
    flex: 0 1 calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) {
  .card-grid {
    margin-top: 80px;
    /* gap: 52px; */
    display: flex;
    flex-direction: row;
    /* width: 240.164px; */
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: auto; */
    /* justify-content: space-between; */
  }
  .recommended p {
    font-size: 18px;
  }

  .premium p {
    font-size: 18px;
  }
  .recommended {
    padding: 20px;
  }

  .premium {
    padding: 20px;
  }

  .search p {
    font-size: 18px;
  }
  .info-cont {
    flex: 0 1 calc(20% - 20px);
    margin: 10px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1200px) {
  .navigations {
    gap: 50px;
  }
  .info-cont {
    flex-basis: calc(20% - 20px); /* Adjust as needed for four columns */
  }
  .card-grid {
    width: 75%;
  }
  .search {
    width: 524px;
  }
  .recommended {
    width: 330px;
  }
  .recommended p {
    font-size: 24px;
  }

  .premium {
    /* padding: 0 40px; */
    width: 330px;
  }
  .premium p {
    font-size: 24px;
  }

  .search p {
    font-size: 24px;
  }
}
/* @media screen and (min-width: 1200px) {
  .navigations {
    display: flex;
    justify-content: space-between;
    margin: 30px;
  }
  .main-content {
    margin: 40px 0;
  }
  .recommended {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px 150px;
    gap: 15px;
  }

  .icon {
    width: 24px;
    height: auto;
    margin-right: 8px;
  }
  .recommended p {
    font-size: 24px;
  }
  .premium {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }
  .premium p {
    font-size: 20px;
  }
  .search {
    width: 500px;
    height: 49px;
    flex-shrink: 0;
    padding: 8px;
  }
  .search p {
    font-size: 20px;
  }
  .card-grid {
    display: flex;
    flex-direction: row;
    width: 97%;
    flex-wrap: wrap;
    margin: 20px;
  }
  .info-cont {
    flex: 0 1 calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
  }

  .view-and-arrow {
    margin: 68px 0 116px 0;
  }
} */
