.section-container {
  margin: 150px 0;
}
.recruit-cont {
  display: flex;
  justify-content: center;
}
.recruit-img {
  width: 200px;
  height: auto;
  flex-shrink: 0;
  margin: auto;
}
.new-badge-cont {
  display: flex;
  width: 55px;
  height: 26px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.new-badge {
  color: #e52424;
  font-family: Rubik;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 6px 12px;

  border-radius: 16px;
  background: #f9cccc;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 40px 20px;
}
.topic {
  color: #134a7c;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 112.042%;
  text-align: center;
}

.sub-text {
  color: #000;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.4%; /* 25.632px */
}
.sub-items {
  display: flex;
  align-items: center;
  /* justify-items: center; */
  padding: 0;
  gap: 6px;
}
.items-content p {
  /* padding-top: 13px; */
}
.check-icon {
  /* padding-bottom: 10px; */
}

.check-and-text {
  display: flex;
  align-items: center;
  gap: 4px;
}
.both-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.btn-one-cont {
  display: flex;
  height: 43px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #134a7c;
  width: 155px;
}
.btn-job {
  background: transparent;

  color: #134a7c;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
}

.btn-one-cont:hover {
  background: #0b2844;
  transition: 0.5s ease-in-out;
  color: #fff;
}
.btn-one-cont:hover p {
  color: white;
}
.btn-two-cont:hover {
  background: #0b2844;
  transition: 0.5s ease-in-out;
}
.btn-job:hover {
  color: white;
}

.btn-two-cont {
  display: flex;
  width: 155px;
  height: 43px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #134a7c;
}
.btn-all-jobs {
  background: transparent;
  width: auto;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
}
.items-content {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 12px;
  /* align-items: center; */
}

@media screen and (min-width: 500px) {
  .section-container {
    display: flex;
    justify-content: center;
    margin: 150px 20px;
    gap: 30px;
  }
  .topic {
    padding: 16px 0 0 0;
    width: 300px;
    font-size: 38px;
    text-align: left;
  }
  .sub-items {
    /* display: flex;
    align-items: center; */
  }
  .sub-text {
    width: 350px;

    color: #000;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  .both-btns {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .items-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0px;
    /* align-items: start; */
    margin-top: 0;
    padding-top: 0;
  }
  .second-item {
    margin-top: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .section-container {
    gap: 50px;
    margin: 150px 0;
  }
  .recruit-img {
    width: 322px;
    height: 288px;
    flex-shrink: 0;
  }
  .topic {
    font-size: 48px;
    width: 530px;
    flex-shrink: 0;
  }
  .sub-text {
    width: 497px;
    margin-top: 0;
  }
  .items-content {
    margin-top: -25px;
    padding-top: 0;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-container {
    gap: 107px;
  }
}

@media screen and (min-width: 1600px) {
  .div-cont {
    margin-right: 190px;
  }
}
