.footer-img-container {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust height as needed */
}

.footer-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.logo-img {
  width: 100px;
}

.container-motivv-logo {
  /* display: flex;
  justify-content: center; */
}

.foot-content-one {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.love-aorthar-container {
  padding-top: 20px !important;
  color: #fff2df;
}

.love-aorthar {
  font-size: 14px;
}
.foot-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff2df !important;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
}

.foot-jobs {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  color: #fff2df;
  font-size: 18px;
}

.foot-designers {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  color: #fff2df;
  font-size: 18px;
}

.foot-partner {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  color: #fff2df;
  font-size: 18px;
}

.foot-team {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  color: #fff2df;
  font-size: 18px;
}
.foot-course {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  color: #fff2df;
  font-size: 18px;
}

.foot-contact {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  color: #fff2df;
  font-size: 18px;
}
.foot-terms {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  color: #fff2df;
  font-size: 18px;
}

.foot-connect {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  color: #fff2df;
  font-size: 18px;
}

.foot-hire {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  color: #fff2df;
  font-size: 18px;
}
.foot-note {
  text-align: center;
  padding: 10px 5px 40px 5px;
  color: #fff2df;
  font-size: 18px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer-link-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px 30px 20px;
  }
  .logo-img {
    margin: 0;
    padding: 0;
    /* width: 100px; */
  }

  .foot-content-one {
    padding-top: 0;
    align-items: start;
  }
  .foot-terms {
  }
  .foot-col {
    text-align: left;
  }
  .foot-connect {
    /* font-size: 10px; */
  }
  .foot-note {
    /* margin-top: 30px; */
  }
  .footer-link-contents {
  }
  
  .love-aorthar-container {
    padding-top: 10px !important;
  }

}


@media screen and (min-width: 1024px) {
  .logo-img {
    width: 160px;
  }
  .footer-link-contents {
    padding: 80px 100px 0 100px;
  }
  .foot-note {
    padding: 50px 5px 40px 5px;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .footer-link-contents {
    padding: 80px 274px 0 274px;
  }
}
