.header {
  background: #134a7c;
  padding: 18px 0 18px 10px;
}
.header-logo {
  width: 100px;
}
.head-text {
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.4%; /* 45.568px */
  padding: 40px 0;
}
.card-component {
  border-radius: 12.008px;
  background: #f9f9f9;
  box-shadow: 1.5px 1.5px 3px 0px #d2dbe4;
  border-radius: 12.008px;
  background: #f9f9f9;
  box-shadow: 1.5px 1.5px 3px 0px #d2dbe4;
  /* width: 360.246px;
  height: 439.5px; */
  flex-shrink: 0;
  margin: 0 20px 40px 20px;
  padding: 20px;
}
.profile-card {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.profile-img {
  display: flex;
  justify-content: center;
}
.prof-img {
  width: 108.074px;
  height: 108.074px;
  flex-shrink: 0;
  border-radius: 100%;
}
.profile-name {
  font-family: "DM Sans";
  font-size: 19.213px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.4%; /* 27.359px */
  text-align: center;
  padding-top: 15px;
}
.profile-role {
  font-family: "DM Sans";
  font-size: 15.611px;
  font-style: italic;
  font-weight: 400;
  line-height: 142.4%; /* 22.23px */
  text-align: center;
}
.profile-tool {
  border-radius: 12.008px;
  background: rgba(246, 180, 82, 0.19);
  padding: 4px 12px;

  color: #8f8f8f;
  font-family: "DM Sans";
  font-size: 8px;
  font-style: italic;
  font-weight: 400;
  line-height: 142.4%; /* 23.94px */
}
.profile-tool-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 6px;
}
.profile-paragraph {
  color: #656565;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16.811px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.4%; /* 23.94px */
  padding-top: 18px;
}
.profile-rate {
  text-align: center;
  /* padding: 25px 0; */
  font-size: 16.811px;
  font-weight: 500;
  line-height: 142.4%; /* 23.94px */
}
.profile-edit {
  text-align: center;
  color: #134a7c;
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.4%; /* 25.632px */
  text-decoration-line: underline;
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  .header {
    padding: 28px 0 28px 40px;
  }
  .header-logo {
    width: 160px;
    height: 66px;
    flex-shrink: 0;
  }
  .head-text {
    align-content: center;

    font-size: 32px;
  }

  .card-component {
    border-radius: 12.008px;
    background: #f9f9f9;
    box-shadow: 1.5px 1.5px 3px 0px #d2dbe4;
    border-radius: 12.008px;
    background: #f9f9f9;
    box-shadow: 1.5px 1.5px 3px 0px #d2dbe4;
    width: fit-content;
    height: auto;
    flex-shrink: 0;
    margin: auto;
  }
  .profile-tool {
    font-size: 14px;
  }
  .profile-tool-cont {
    gap: 6px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 28px 0 28px 70px;
  }
}
