.verify-mot-logo {
  margin: 20px 0 0 20px;
  width: 100px;
}
.verify-email {
  color: var(--Main-Black, #000);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 160px;
  text-align: center;
}
.otp-bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--Deep-grey, #555);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin: auto; */
  padding: 15px 5px;
}
.otp-input-cont {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.otp-input {
  width: 30px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid var(--Border-Grey, #d5d5d5);
  background: var(--Main-white, #fff);

  color: var(--Deep-grey, #555);
  text-align: center;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%; /* 34.65px */
}
.otp-btn-cont {
  display: flex;
  width: 155px;
  height: 43px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: #134a7c;
  margin: auto;
  margin-top: 15px;
  outline: none;
}
.otp-btn-text {
  background: transparent;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  outline: none;
}
.cannot-find-text {
  color: #555;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 26.4px */
  margin-top: 15px;
}
.resend-text {
  color: #134a7c;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%;
  text-decoration-line: underline;
}
@media only screen and (min-width: 760px) {
  .otp-bottom-text {
    display: flex;
    width: 387px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
  }
  .verify-mot-logo {
    display: flex;
    width: 160px;
    height: 66px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;

    margin: 21px 0 0 119px;
  }
  .otp-input {
    
    width: 64px;
    /* height: 64px; */
    /* flex-shrink: 0; */
    /* margin: auto; */
    /* gap: 0px; */
  }
  .otp-input-cont {

  }
}
@media only screen and (min-width: 1024px) {
}
