.card-section {
  width: 90%;
  padding: 16px 22px;
  margin: auto;
  margin-top: 40px;
}
.persona-img {
  margin-top: 16px;
}
.name {
  font-size: 13px;
  font-weight: 700;
  padding: 5px 0 0 0;
}
.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 1px 1px 2px 0px #d2dbe4;
  /* width: 240px;
  height: 292.8px; */
  flex-shrink: 0;
}
.role-and-icon {
  display: flex;
  align-items: start;
  gap: 3px;
  padding-top: 0px;
}
.role {
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
}
.skills {
  display: flex;
  gap: 3px;
}
#skill {
  border-radius: 8px;
  background: rgba(246, 180, 82, 0.19);
  padding: 3px;
}
.description {
  text-align: center;
  font-size: 12px;
  width: 250px;
  padding: 0 8px;
}
.rate {
  font-weight: 700;
  font-size: 13px;
}
.view-port-btn {
  color: #134a7c;
  font-size: 13px;
}
.next-section {
  /* margin: 20px; */
  margin-top: 20px;
}
.vetted-text {
  font-size: 24px;
  font-weight: 700;
  color: #134a7c;
}
.next-para {
  font-size: 14px;
}
.book-designer-input {
  width: 100%;
  /* color: #bbb; */
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.book-a-designer-btn {
  margin-top: 10px;
  height: 43px;
  font-size: 14px;

  border-radius: 10px;
  background: #134a7c;
  color: white;
}
.book-a-designer-btn:hover {
  color: white;
  background: #0b2b4a;
}

@media screen and (min-width: 760px) {
  .cont-section {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: 50px 0; */
  }

  .card-item {
    /* margin: 5px 0; */
    /* padding: 16px; */
    margin-top: 100px;
    width: 240px;
    height: 292.8px;
    flex-shrink: 0;
  }
  .card-section {
    /* width: 240px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* margin: 50px 0; */
  }

  #skill {
    border-radius: 8px;
    background: rgba(246, 180, 82, 0.19);
    padding: 3px 6px;
    font-size: 11px;
  }
  .vetted-text {
    width: 356px;
    height: 177px;
    flex-shrink: 0;
    font-size: 48px;
    font-weight: 700;
  }
  .next-para {
    width: 378px;
    height: 101px;
    flex-shrink: 0;
    font-size: 18px;
  }
  .book-a-designer-input {
    color: #bbb;
    font-size: 18px;
    font-weight: 400;
    line-height: 142.4%; /* 25.632px */
  }
  .name {
    font-size: 13px;
  }

  .role-and-icon {
    display: flex;
    align-items: start;
    gap: 3px;
    padding-top: 0px;
  }
  .role {
    font-size: 10px;
  }
  .skills {
    gap: 3px;
  }
  .description {
    font-size: 11px;
    width: 90%;
  }
  .rate {
    font-size: 11px;
  }
  .view-port-btn {
    font-size: 12px;
  }

  .form-input {
    width: 364px;
    height: 1px;
    flex-shrink: 0;
  }
  .book-a-designer-btn {
    font-size: 14px;
    height: 43px;
  }
}

@media screen and (min-width: 1024px) {
  .cont-section {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 50px; */
  }
  .card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 123px;
  }

  .cont-section > * {
    /* margin: 0;
    padding: 0; */
  }

  .persona-img {
    width: 72px;
    height: 72px;
    flex-shrink: 0;
  }
  .name {
    font-size: 12.809px;
    line-height: 142.4%; /* 18.24px */
  }
  .card-item {
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 1px 1px 2px 0px #d2dbe4;
    width: 240px;
    height: 330px;
    flex-shrink: 0;
  }
  .role {
    font-size: 10.407px;
    font-style: italic;
    font-weight: 400;
    line-height: 142.4%; /* 14.82px */
  }
  .role-and-icon {
    display: flex;
    align-items: start;
  }
  .verified-icon {
    margin-bottom: 8px;
  }
  .description {
    color: #656565;
    text-align: center;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 142.4%; /* 15.949px */
  }
  .form-input {
    width: 100%;
  }
  .book-a-designer-cont {
    display: flex;
    width: 230px;
    height: 43px;
    justify-content: start;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    margin-top: 17px;
  }
  .book-a-designer-btn {
    color: #fff;
    /* font-family: Montserrat; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    padding: 48px auto;
  }
}
