.mot-footer-container {
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #134a7c;
}

.copy-text {
  font-size: 0.9rem;
  margin-top: 50px;
}

.mot-footer-container {
  background: url("../../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-and-love {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mot-footer-links div a {
  color: #fff2df;
  /* padding-top: 20px; */
}

.mot-footer-links div a:hover {
  color: #ffffff;
  text-decoration: none;
}

.social-icon {
  height: 20px;
  margin-left: 10px;
}

.slick-slide img {
  display: block;
  width: 100%;
}

.copyright-text {
  color: #fff2df;
}

.love-aorthar {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 759px) {
  .white-text {
    text-align: center;
  }
  .mot-footer-links {
    text-align: center;
  }
  .mot-logo {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .love-aorthar {
    /* width: 200px; */
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .mot-footer-links div a {
    color: #fff2df !important;
    margin-top: 80px !important;
  }
  .social-icon {
    height: 20px;
  }
  .mot-footer-links {
    height: auto !important;
    width: 100% !important;
  }
  /* .mot-footer-container > div > div div:nth-child(n) {
    width: 100% !important;
    height: auto !important;
  } */

  .love-aorthar {
    /* width: 200px; */
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .mot-footer-container {
  }

  .subcont {
    padding: 0 30px;
  }


  .love-aorthar {
    text-align: left;
  }
  .logo-and-love {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
@media screen and (min-width: 1024px) {
  .love-aorthar {
    /* width: 200px; */
    text-align: left;
  }
  .mot-footer-container-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .subcont {
    padding: 0 35px;
  }
  .logo-and-love {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
@media screen and (min-width: 1440px) {
  .subcont {
    padding: 0 200px;
  }
}

@media screen and (min-width: 1800px) {
  .subcont {
    padding: 0 400px;
  }
}