.icon-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 4px;
  margin-top: 10px;
}
.left-section {
  background: #134a7c;
  padding: 20px;
  width: 100%;
}
.icon-with-texts:hover,
.icon-with-texts:focus {
  background-color: #fff !important;
  color: #134a7c !important;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.icon-with-texts.focused {
  background-color: #fff !important;
  color: #134a7c !important;
  cursor: pointer;
}
.container-component {
  display: flex;
  background: #f4f4f4;
}
.motivv-logo {
  width: 70px;
}
.search-cont {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  padding: 10px 20px;
  margin: 12px;
  background: #fafafa;
}
.bar-icon {
  display: flex;
}
.right-icons {
  display: flex;
  margin: 0 12px;
}
.bar button {
  text-decoration: none;
  outline: none;
  background: #c4c4c4;
}
.search-input {
  border: none;
  color: #bbbbbb;
  /* width: 20px; */
}
.pending-text {
  font-size: 18px;
  text-align: center;
  color: #696f79;
  padding: 10px 0;
}
.info-image {
  width: 30px;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* gap: 16px; */
  max-width: 100%;
  margin: auto;
}

.info-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7.977px;
  background: #f9f9f9;
  box-shadow: 1px 1px 2px 0px #d2dbe4;
  margin: 20px;
  padding: 20px 0;
}
.info-name {
  font-weight: 700;
  padding: 10px 0 0 0;
  font-size: 10px;
}
.info-role {
  font-style: italic;
  font-size: 8px;
}
.info-tools {
  display: flex;
  gap: 3px;
}
.tool {
  border-radius: 7.977px;
  /* width: 50px; */
  text-align: center;
  padding: 3px 6px;
  background: rgba(246, 180, 82, 0.19);
  color: #8f8f8f;
  font-size: 8px;
}
.info-para {
  color: #656565;
  font-size: 10px;
  width: 180px;
  text-align: center;
}
.info-rate {
  font-weight: 700;
  font-size: 10px;
  margin: -4px 0 6px 0;
}
.view-btn {
  font-size: 12px;
  color: #134a7c;
}
.approve-reject {
  display: flex;
  gap: 10px;
  font-size: 8px;
}

.apv-btn {
  width: 60px;
  padding: 4px 6px;
  font-size: 12px;
  outline: none;
  border: none;
}
.rjt-btn {
  width: 60px;
  padding: 4px 6px;
  font-size: 12px;
  color: #F66D6D;
  border: 1px solid #F66D6D;
  background-color: transparent;
}
.search-icons {
  display: flex;
  /* justify-content: space-between; */
  justify-items: center;
  align-items: center;
  gap: 40px;
}
@media (max-width: 500px) {
  .left-section {
    display: none;
  }

  .right-section.expanded {
    margin-left: 0;
  }
  .mobile-header {
    background: #134a7c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    color: white;
  }
  .mot-logo {
    width: 100px;
  }
}
@media only screen and (min-width: 760px) {
  .left-section {
    background: #134a7c;
    padding: 20px;
    width: 300px;
  }
  .search-cont {
    display: flex;
    align-items: center;
    gap: 300px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    padding: 10px 20px;
    margin: 12px;
    background: #fafafa;
  }
  .motivv-logo {
    width: 120px;
  }
  .mobile-header {
    display: none;
  }
  .pending-text {
    display: flex;
    padding: 12px;
    font-size: 24px;
  }

  .grid-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 16px; */
    justify-items: center;
    align-items: center;
  }

  .icon-names {
    font-size: 18px;
  }

  .icon-with-texts {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;
  }
  .right-section {
    width: full;
  }
  .apv-btn {
    width: 80px;
    padding: 2px 4px;
    font-size: 12px;
  }
  .rjt-btn {
    width: 80px;
  }
  .info-image {
    width: 60px;
  }
  .info-name {
    font-size: 12px;
  }
  .info-role {
    font-size: 10px;
  }
  .tool {
    font-size: 10px;
  }
  .info-para {
    font-size: 12px;
    width: 270px;
  }
  .info-rate {
    font-size: 12px;
    font-weight: 700;
  }
  .view-btn {
    font-size: 13px;
  }

  .apv-btn {
    padding: 4px 6px;
    font-size: 14px;
  }
  .rjt-btn {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1600px) {
  .grid-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .apv-btn {
    padding: 2px 4px;
    font-size: 12px;
  }
  .info-image {
    width: 60px;
  }
  .info-name {
    font-size: 18px;
  }
  .info-role {
    font-size: 16px;
  }
  .tool {
    font-size: 12px;
  }
  .info-para {
    font-size: 16px;
    width: 270px;
  }
  .info-rate {
    font-size: 14px;
    font-weight: 900;
  }
  .view-btn {
    font-size: 15px;
  }

  .apv-btn {
    padding: 6px;
    font-size: 15px;
    width: 100px;
  }
  .rjt-btn {
    font-size: 15px;
    width: 100px;
    padding: 6px;
  }
  .right-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1800px) {
  .info-cont {
    padding: 40px;
  }
  .pending-text {
    display: flex;
  }
}
