.mot-section {
  margin-top: 150px;
  padding: 20px;
  background: rgba(255, 242, 223, 0.5);
}

.mot-background-cont {
  width: auto;
  height: 468px;
  flex-shrink: 0;
}

.header-text {
  color: #134a7c;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 112.042%;
}

.sub-text {
}
.app-btn:hover {
  background: #0c2945;
  color: white;
  transition: 0.5s ease-in-out;
}
.app-btn {
  display: flex;
  width: 155px;
  height: 43px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #134a7c;
  background: transparent;

  color: #134a7c;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}


.placeholder-and-dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
.image-placeholder {
  width: 200px;
}
.dots-image {
  display: none;
}

@media (max-width: 575.98px) {
  .mot-section {
    /* margin-top: 50px; */
  }
  .placeholder-and-dot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 425px) {
  .header-text {
    text-align: center;
  }
  .app-btn {
    display: flex;
    /* width: 200px; */
    margin: auto;
  }
  .sub-text {
    text-align: center;
  }
}

/* Small Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .mot-background-cont {
    /* width: 747px; */
    width: 600px;
    /* height: 468px; */
    height: auto;
  }
  .header-text {
    width: 360px;
    height: 86px;
    flex-shrink: 0;
    margin-top: 20px;
  }
  .sub-text {
    width: 390px;
    height: 86px;

    font-size: 18px;
  }
  .mot-section {
    display: flex;
    /* height: auto; */
  }
  .placeholder-and-dot {
    display: block;
    /* width: 300px; */
    margin-top: 0px;
  }
  .image-placeholder {
    width: 300px;
    height: 300px;
  }
  .dot-cont {
    position: relative;
  }
  .dots-image {
    position: absolute;
    top: -30px;
    right: 80px;
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .mot-background-cont {
    /* width: 747px; */
    width: 600px;
    /* height: 468px; */
    height: auto;
    margin: auto;
  }
  .header-text {
    width: 360px;
    height: 86px;
    flex-shrink: 0;
    margin-top: 20px;
  }
  .sub-text {
    width: 390px;
    height: 86px;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .mot-section {
    display: flex;
    /* height: auto; */
    height: auto;
    padding: 0;
    padding-left: 20px;
  }
  .placeholder-and-dot {
    display: block;
    /* width: 300px; */
  }
  .image-placeholder {
    width: 300px;
    height: 300px;
  }
  .dot-cont {
    position: relative;
  }
  .dots-image {
    position: absolute;
    top: -30px;
    right: 150px;
    width: 300px;
  }
}

/* Medium Devices (Laptops) */
@media screen and (min-width: 1024px)  {
  .mot-background-cont {
    width: 747px;
    margin: auto;
    /* height: auto; */
    /* margin-left: 60px !important; */
  }
  .header-text {
    width: 550px;
    height: 86px;
    flex-shrink: 0;
    margin-top: 80px;

    color: #134a7c;
    font-family: "DM Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 112.042%; /* 53.78px */
  }
  .sub-text {
    width: 391px;
    height: 86px;
    flex-shrink: 0;
    margin: 40px 0;
    font-size: 18px;
    margin-top: 40px !important;
  }
  .mot-section {
    display: flex;
    /* height: auto; */
    height: auto;
    padding: 0;
    padding-left: 20px;
  }
  .placeholder-and-dot {
    display: block;
    /* width: 300px; */
  }
  .image-placeholder {
    width: 380px;
    height: 400px;
  }
  .dot-cont {
    position: relative;
  }
  .dots-image {
    position: absolute;
    top: -50px;
    right: 200px;
    width: 500px;
  }
  .app-btn {
    color: #134a7c;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-top: -20px;
  }
}


@media screen and (min-width: 1400px)  { 
  .mot-background-cont {
    width: 747px;
    margin: auto;
    /* height: auto; */
    /* margin-left: 60px !important; */
  }
  .mot-section {
    padding-left: 30px;
  }
}