.mot-section {
  margin-top: 150px;
  padding: 20px;
  background: rgba(255, 242, 223, 0.5);
}

.mot-background-cont {
  width: auto;
  height: 468px;
}

.header-text {
  color: #134a7c;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 112.042%;
}

.sub-text {
  text-align: center;
}
.app-btn:hover {
  background: #0c2945;
  color: white;
  transition: 0.5s ease-in-out;
}
.app-btn {
  display: flex;
  width: 155px;
  height: 43px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #134a7c;
  background: transparent;

  color: #134a7c;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.placeholder-and-dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
.image-placeholder {
  width: 200px;
}
.dots-image {
  display: none;
}

@media screen and (max-width: 600px) {
  .placeholder-and-dot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .header-text {
    text-align: center;
  }
  .app-btn {
    display: flex;
    /* width: 200px; */
    margin: auto;
  }
  .sub-text {
    text-align: center;
  }
}

/* new code from 760px */

@media screen and (min-width: 760px) {
  .mot-background-cont {
    width: 70%;
    height: auto;
    margin: auto;
  }
  .mot-section {
    display: flex;
    align-items: center;
    height: 270px;
  }
  .image-placeholder {
    width: 250px;
  }
  .sub-text {
    text-align: left;
    padding: 14px 0;
    font-size: 16px !important;
  }
}

@media screen and (min-width: 1024px) {
  .mot-background-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .mot-section {
    width: 800px;
    height: 370px;
  }
  .header-text {
    color: #134a7c;
    font-family: "DM Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 112.042%;
    width: 520px;
  }
  .image-placeholder {
    width: 350px;
    margin-left: -150px;
  }
  .sub-text {
    font-size: 18px;
    padding: 21px 50px;
  }
  .header-text {
    padding-left: 50px;
    width: 700px;
  }
  .app-btn {
    margin-left: 50px;
  }
  .mot-left-cont {
    /* padding-left: 85px; */
  }
}

@media screen and (min-width: 1440px) {
  .mot-section {
    width: 850px;
    height: 470px;
  }
  .mot-background-cont {
    gap: 100px !important;
  }
  .image-placeholder {
    width: 470px;
    height: 471px;
    flex-shrink: 0;
    margin-left: -150px !important;
  }
  .mot-left-cont {
    /* padding-left: 85px; */
  }
  .header-text {
    padding-left: 60px;
    width: 700px;
  }
  .sub-text {
    padding-left: 60px;
  }
  .app-btn {
    margin-left: 60px;
  }
}

/* former code to probably revert to */
/* Small Devices (Tablets) */
/* @media (min-width: 576px) and (max-width: 767.98px) {
  .mot-background-cont {
    width: 600px;
    height: auto;
  }
  .header-text {
    width: 360px;
    height: 86px;
    flex-shrink: 0;
    margin-top: 20px;
  }
  .sub-text {
    width: 390px;
    height: 86px;

    font-size: 18px;
  }
  .mot-section {
    display: flex;
  }
  .placeholder-and-dot {
    display: block;
    margin-top: 0px;
  }
  .image-placeholder {
    width: 300px;
    height: 300px;
  }
  .dot-cont {
    position: relative;
  }
  .dots-image {
    position: absolute;
    top: -30px;
    right: 80px;
    width: 300px;
  }
} */

/* @media (min-width: 768px) and (max-width: 991.98px) {
  .mot-background-cont {
    width: 600px;
    height: auto;
    margin: auto;
  }
  .header-text {
    width: 360px;
    height: 86px;
    flex-shrink: 0;
    margin-top: 20px;
  }
  .sub-text {
    width: 390px;
    height: 86px;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .mot-section {
    display: flex;
    height: auto;
    padding: 0;
    padding-left: 20px;
  }
  .placeholder-and-dot {
    display: block;
  }
  .image-placeholder {
    width: 300px;
    height: 300px;
  }
  .dot-cont {
    position: relative;
  }
  .dots-image {
    position: absolute;
    top: -30px;
    right: 150px;
    width: 300px;
  }
} */

/* Medium Devices (Laptops) */
/* @media screen and (min-width: 1024px)  {
  .mot-background-cont {
    width: 747px;
    margin: auto;
  }
  .header-text {
    width: 550px;
    height: 86px;
    flex-shrink: 0;
    margin-top: 80px;

    color: #134a7c;
    font-family: "DM Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 112.042%;
  }
  .sub-text {
    width: 391px;
    height: 86px;
    flex-shrink: 0;
    margin: 40px 0;
    font-size: 18px;
    margin-top: 40px !important;
  }
  .mot-section {
    display: flex;
    height: auto;
    padding: 0;
    padding-left: 20px;
  }
  .placeholder-and-dot {
    display: block;
  }
  .image-placeholder {
    width: 380px;
    height: 400px;
  }
  .dot-cont {
    position: relative;
  }
  .dots-image {
    position: absolute;
    top: -50px;
    right: 200px;
    width: 500px;
  }
  .app-btn {
    color: #134a7c;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-top: -20px;
  }
} */

/* @media screen and (min-width: 1400px)  { 
  .mot-background-cont {
    width: 747px;
    margin: auto;
  }
  .mot-section {
    padding-left: 30px;
  }
} */
