.mot-section {
  margin-top: 150px;
  padding: 20px;
  background: rgba(255, 242, 223, 0.5);
  height: auto;
  width: auto;
  padding-bottom: 0;
}

.mot-background-cont {
}

.header-text {
  color: #134a7c;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 112.042%;
}

.sub-text {
  text-align: center;
}
.app-btn:hover {
  background: #0c2945;
  color: white;
  transition: 0.5s ease-in-out;
}
.app-btn {
  display: flex;
  width: 155px;
  height: 43px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #134a7c;
  background: transparent;

  color: #134a7c;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

.placeholder-and-dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
.image-placeholder {
  width: 200px;
}
.dots-image {
  display: none;
}

@media screen and (max-width: 600px) {

  .placeholder-and-dot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .header-text {
    text-align: center;
  }
  .app-btn {
    display: flex;
    /* width: 200px; */
    margin: auto;
  }
  .sub-text {
    text-align: center;
  }
}

/* new code from 760px */

@media screen and (min-width: 760px) {
  .mot-background-cont {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .mot-section {
    display: flex;
    align-items: center;
    height: auto;
    padding: 20px;
  }
  .image-placeholder {
    width: 290px;
  }
  .sub-text {
    text-align: left;
    padding: 14px 0;
    font-size: 16px !important;
  }
}

@media screen and (min-width: 1024px) {
  .mot-background-cont {
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
  }
  .mot-section {
    width: 800px;
    height: 370px;
  }
  .header-text {
    color: #134a7c;
    font-family: "DM Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 112.042%;
    width: 520px;
  }
  .image-placeholder {
    width: 350px;
    margin-left: -150px;
  }
  .sub-text {
    font-size: 18px;
    padding: 21px 50px;
    width: 470px;
    text-align: justify;
  }
  .header-text {
    padding-left: 50px;
    width: 700px;
  }
  .app-btn {
    margin-left: 50px;
  }
  .mot-left-cont {
    /* padding-left: 85px; */
  }
}

@media screen and (min-width: 1440px) {
  .mot-background-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* margin-left: 40px; */
    margin-right: 250px;
  }
  .mot-section {
    width: 850px;
    height: 470px;
  }
  .mot-background-cont {
    gap: 100px !important;
  }
  .image-placeholder {
    width: 470px;
    height: 471px;
    flex-shrink: 0;
    margin-left: -150px !important;
  }
  .mot-left-cont {
    /* padding-left: 85px; */
  }
  .header-text {
    padding-left: 60px;
    width: 700px;
  }
  .sub-text {
    padding-left: 60px;
  }
  .app-btn {
    margin-left: 60px;
  }
}
