.users-section {
  margin-top: 200px;
}
.male-female-and-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-card {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .context-content {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: start;
  }
  .male-female-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .second-card {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .context-content {
    gap: 27px;
  }
}
